.main-button {
  width: 300px;
  padding: 20px 30px;
  font-size: 28px;
  color: azure;
  border: none;
  border-radius: 4px;
}

.primary-button {
  background: rgb(58, 91, 183);
}

.secondary-button {
  background: rgb(162, 210, 18);
}